
@font-face {
   font-family: [Playfair Display];
   src: url(https://fonts.google.com/share?selection.family=Playfair+Display:ital,wght@0,400..900;1,400..900);
}
*{
    background-color: #f8e0f4;
    font-family: Playfair Display;
}
body{
    background-color:#f8c9f0 ;
    color: black;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 14px;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.flex {
    display: flex;
    justify-content: center;
}
.notep{
    background-color: #217b52;
    color: white;
}
.notas{
    background-color: #217b52;
    margin-right: 20px;
    height: 100px;
    width: 200px;
    transform: rotate(-3deg);
    overflow: auto; 
    border: 2px solid black;   
    margin-bottom: 5px; 
    box-shadow: 11pc 11px 0px -px rgb(204, 20, 20);    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin: 2px;
}
.pug{
    height: 99px;
    width: 99px;
    border: 2px solid black;   
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 5px;
}
.imagem-spotify{
  height: 100px;
  width: 190px;
  border: 5xp;
  border-color: white;
}
.bocchi{    
    margin-left: 10px;
    height: 8%;
    width: 15%;
}
.lr{
     height: 8%;
    width: 7%;
    border: 2px solid rgb(77, 77, 77);   
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 5px;
    transform: rotate(3deg);
}
.bigcube{
    position: absolute;
    height: 78%;
    width: 58%;
    background-color: #217b52;
    border-radius: 15px;
    box-shadow: 15px 10px #0d442b;
}
.littlecube{
    background-color: #217b52;
    margin-top: 7%;
    justify-content: center;
    width: 23%;
    height: 70%;
    border-radius: 10px;
}
.bot{
    height: 30%;
    width: 60%;
    margin-left: 30%;
    margin-top: 11%;
    border-radius: 10%;
}
.mediumcube{
    height: 87%;
    width: 63%;
    background-color: #7ed957;
    border-radius: 15px;
    position: absolute;
    margin-left: 30%;
    margin-top: -47%;
    box-shadow: 8px 5px #0d442b;
}
.little:nth-of-type(1) {
    left: 10%;
    animation-delay: 2.5s, 1s;
}
.little:nth-of-type(2) {
    left: 20%;
    animation-delay: 1s, 6s;
}
.little:nth-of-type(3) {
    left: 50%;
    animation-delay: 8s, 4s;
}
.little:nth-of-type(4) {
    left: 40%;
    animation-delay: 3s, 5s;
}
.little:nth-of-type(5) {
    left: 50%;
    animation-delay: 2.5s, 1s;
}
.little:nth-of-type(6) {
    left: 60%;
    animation-delay: 4s, 1s;
}
.little:nth-of-type(7) {
    left: 70%;
    animation-delay: 7s, 3s;
}
.little:nth-of-type(8) {
    left: 80%;
    animation-delay: 5s, 8s;
}
.little:nth-of-type(9) {
    left: 90%;
    animation-delay: 3s, 7s;
}
.little:nth-of-type(10) {
    left: 100%;
    animation-delay: 5s, 1s;
}


.little {
    position: fixed;
    z-index: 9999;
    user-select: none;
    cursor: default;
    animation-name: littles-fall, littles-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.little {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #fff;
    background-color: transparent;
}
div {
    display: block;
    unicode-bidi: isolate;
}
@keyframes littles-fall{
    0%{
        top: -10%;
    }
    100%{
        top: 100%;
    }
}
@keyframes littles-shake{
    0% {
        transform: translateX(0px);
    }
    50% { 
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}